

<div class="container mt-4 col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title font-weight-bold">Balde Médio + Polenta Frita</h5>
      <p class="card-text">Deliciosos pedaços de southern fried chicken,
        marinados por 24h em nosso dry rub com ervas, empanados
        e fritos, crocantes por fora, suculento por dentro.
        Serve 2 pessoas <br>
        A partir de <strong>R$67,90</strong></p>
      <a href="#" class="btn btn-primary float-right">Adicionar</a>
    </div>
  </div>
</div>
