<h1 class="text-center mt-5 mb-5">
  Carrinho
</h1>
<div class="container mt-4 col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title font-weight-bold">Balde Médio + Polenta Frita</h5>
      <p class="card-text">Deliciosos pedaços de southern fried chicken,
        marinados por 24h em nosso dry rub com ervas, empanados
        e fritos, crocantes por fora, suculento por dentro.
        Serve 2 pessoas <br>
        A partir de <strong>R$67,90</strong></p>
      <a class="btn btn-danger float-right">Remover</a>
    </div>
  </div>
</div>
<div class="container mt-4 col-md-4 fixed-bottom margem-extra">
  <div class="card">
    <div class="card-body">
      <p class="card-text">Taxa de entrega: R$10,00<br>
        Valor total: <strong>R$77,90</strong></p>
      <a class="btn btn-success float-right">Finalizar Compra</a>
    </div>
  </div>
</div>
